## Project 3
### by Bogdan Popa

Import the SQLAlchemly db To work with SQL queries and sqlite DBs

In [42]:
import sqlalchemy as sqla
import pandas as pd

Connect to the Chinook sqlite DB file.

In [43]:
db=sqla.create_engine('sqlite:///Chinook_Sqlite.sqlite')

Set up the SQL Query joinning the Customer, Invoice, InvoiceLine, Track and Album tables. Selecting only hte custoers first and last name, and the track and album names.

In [44]:
sql="""SELECT c.LastName, c.FirstName, t.Name as "Track Name", a.Title as "Album Name"
       FROM Customer as c 
       INNER JOIN Invoice as i 
       ON c.CustomerId=i.CustomerId
       INNER JOIN InvoiceLine as il
       ON i.InvoiceId = il.InvoiceId
       INNER JOIN Track as t
       ON il.TrackId = t.TrackId
       INNER JOIN Album a
       ON t.AlbumId = a.AlbumId
       ORDER BY c.LastName, c.FirstName, t.Name, a.Title
       """

Lastly, running the SQL Query against the Chinook DB.

In [45]:
pd.read_sql(sql, db).head()

  LastName FirstName                 Track Name               Album Name
0  Almeida   Roberto              Amor De Muito           Afrociberdelia
1  Almeida   Roberto                  Aos Leões               Demorou...
2  Almeida   Roberto  Banditismo Por Uma Questa          Da Lama Ao Caos
3  Almeida   Roberto             Be Good Johnny  The Best Of Men At Work
4  Almeida   Roberto          Burden In My Hand                  A-Sides